html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

p {
  line-height: 1.4;
}

.footer-text {
  font-family: "Source Code Pro", monospace;
  font-size: 12px;
  margin-top: 6px;
}

main {
  flex: 1;
}

.signature {
  padding: 24px;
  row-gap: 8px;
}

@media (max-width: 800px) {
  .signature {
    padding: 16px;
    row-gap: 8px;
  }

  .footer-text {
    font-size: 10px;
  }
}
